body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.order-page {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    height: auto;
}

.order-summary, .payment-method, .delivery-method {
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.order-total p {
    font-size: 20px;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    color: #28a745;
}

.payment-method form, .delivery-method form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

.validate-order-btn {
    background-color: #28a745;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.validate-order-btn:hover {
    background-color: #218838;
}
